@{
    ViewData["Title"] = "Contact Page";
}


<style>
    .container {
        margin-top: 150px;
    }

    .list-inline {
        margin-top: 20px;
    }

    .list-inline-item {
        font-size: 24px;
    }
</style>

<head>
    <script src="https://kit.fontawesome.com/6515157c61.js" crossorigin="anonymous"></script>
</head>

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-2 text-light">Contact Me</h2>
            <p class="text-light">Reach me on these platforms</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100089319987405"><i class="fab fa-facebook fa-2xl"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/umido_khodzima/"><i class="fa-brands fa-instagram fa-2xl" style="color: #E1306C"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/umidjon-khodjamov-93427627b/"><i class="fab fa-linkedin fa-2xl"></i></a></li>
                <li class="list-inline-item"><a href="mailto:ukhodjamov@gmail.com"><i class="fab fa-google fa-2xl" style="color: #DB4437"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/CookieLoverDev"><i class="fab fa-github fa-2xl" style="color: #333"></i></a></li>
            </ul>
        </div>
    </div>
</div>
