@{
    ViewData["Title"] = "Home Page";
}

<style>

   .styled-hr{
       margin-top: 150px;
       border-width: thick;
       border-color: none;
       color: white;
   }
</style>

<div class="container mt-5" style="padding-top: 200px">
    <div class="col text-center">
        <h1 class="display-1 text-light">This is Blogs Demo Website created for portfolio</h1>
        <h3 class="text-muted text-light">Work by Umidjon Khodjamov</h3>
    </div>
</div>

<hr class="styled-hr"/>

<div class="container my-5" style="padding-top: 100px">
    <div class="row">
        <div class="col-lg-6">
            <img class="w-100 shadow" src="https://i.postimg.cc/Gt1PKMjC/photo-2023-08-03-00-59-47.jpg" alt="My img" />
        </div>
        <div class="col-lg-6">
            <div class="p-5 mt-4">
                <h1 class="display-4 text-light">About the Website</h1>
                <hr style="color: white;" />
                <p class="lead text-light" style="padding-top: 20px">
                    Hello, there and welcome to my website! I am Umidjon Khodjamov, second year computer engineering student based in Warsaw, Poland.
                    I made this website to add up to my portfolio and demonstrate my skills in web dev. This website was made in C# and ASP.NET framework.
                    Web app has user identity functionality, which means you can sign yourself up on this website and/or log in.
                    This is needed to create, edit or delete your own blogs, that you can write here. However, you can't edit or delete them, if you are not the author
                    You still can view any blog, without logging in or signing up!
                </p>
                <p class="lead text-light">
                    I can't say, that visuals of this website are good, but it is not my speciality. I focus more on the backend. You can easily find the source
                    code of this web app on my github. More about the website I wrote in the first ever blog here.
                </p>
                <p class="lead text-light">P.S Yes, I used this photo as the website's logo XDD</p>
            </div>
        </div>
    </div>
</div>